/*animação*/

* {
    margin: 0px;
    padding: 0px;
}

[data-anime] {
    opacity: 0;
    transition: .7s;
}

[data-anime="left"] {
    transform: translate3d(-20px, 0, 0);
}
[data-anime="right"] {
    transform: translate3d(20px, 0, 0);
}
[data-anime="up"] {
    transform: translate3d(0, -20px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px)
}
